In [4]:
import pandas as pd
data_set = pd.read_csv('ai_assistant_usage_student_life.csv')

#examining the data
data_set.info() #gets number of columns, number of entries, etc.
data_set.describe() #gets numerical values such as mean and standard deviation for columns with numerical values

#cleaning the data
null_sum = data_set.isnull().sum() #check for null values and records the total number
print(null_sum)
duplicates_sum = data_set.duplicated(subset = ['SessionID']).sum() #checks for duplicate values and records the total number
print(f'The number of duplicate sessions in this data set is {duplicates_sum}')
#subset parameter specifies that we want to check for duplicates in the SessionID only to make sure no session was recorded twice
data_set.drop_duplicates(subset = ['SessionID']) #removes any duplicate rows and outputs the cleaned data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           10000 non-null  object
 1   StudentLevel        10000 non-null  object
 2   Discipline          10000 non-null  object
 3   SessionDate         10000 non-null  object
 4   SessionLengthMin    10000 non-null  float64
 5   TotalPrompts        10000 non-null  int64
 6   TaskType            10000 non-null  object
 7   AI_AssistanceLevel  10000 non-null  int64
 8   FinalOutcome        10000 non-null  object
 9   UsedAgain           10000 non-null  bool
 10  SatisfactionRating  10000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 791.1+ KB
SessionID             0
StudentLevel          0
Discipline            0
SessionDate           0
SessionLengthMin      0
TotalPrompts          0
TaskType              0
AI_AssistanceLevel    0
FinalOutcome          0
UsedAgain             0
SatisfactionRating    0
dtype: int64
The number of duplicate sessions in this data set is 0

,SessionID,StudentLevel,Discipline,SessionDate,SessionLengthMin,TotalPrompts,TaskType,AI_AssistanceLevel,FinalOutcome,UsedAgain,SatisfactionRating
0,SESSION00001,Undergraduate,Computer Science,2024-11-03,31.20,11,Studying,2,Assignment Completed,True,1.0
1,SESSION00002,Undergraduate,Psychology,2024-08-25,13.09,6,Studying,3,Assignment Completed,True,2.0
2,SESSION00003,Undergraduate,Business,2025-01-12,19.22,5,Coding,3,Assignment Completed,True,3.3
3,SESSION00004,Undergraduate,Computer Science,2025-05-06,3.70,1,Coding,3,Assignment Completed,True,3.5
4,SESSION00005,Undergraduate,Psychology,2025-03-18,28.12,9,Writing,3,Assignment Completed,True,2.9
...,...,...,...,...,...,...,...,...,...,...,...
9995,SESSION09996,Undergraduate,Psychology,2024-07-20,28.41,5,Studying,3,Assignment Completed,True,4.2
9996,SESSION09997,High School,Business,2024-11-11,13.98,6,Writing,5,Assignment Completed,True,5.0
9997,SESSION09998,Undergraduate,Biology,2024-09-11,10.78,2,Studying,3,Idea Drafted,True,3.5
9998,SESSION09999,Undergraduate,Business,2024-10-27,30.88,7,Writing,3,Assignment Completed,False,4.3
9999,SESSION10000,Undergraduate,Math,2025-04-16,10.85,3,Writing,4,Assignment Completed,True,4.9